@import "tailwindcss";

/* Default: DARK */
:root {
  --bg: 8 10 16;
  --card: 12 15 24;
  --muted: 16 20 32;
  --border: 33 41 60;

  --text: 226 232 240;
  --subtext: 148 163 184;

  --primary: 99 102 241;
  --primary2: 79 70 229;

  --success: 34 197 94;
  --warning: 245 158 11;
  --danger: 239 68 68;
}

/* LIGHT mode */
[data-theme="light"] {
  --bg: 248 250 252;
  --card: 255 255 255;
  --muted: 241 245 249;
  --border: 203 213 225;

  --text: 15 23 42;
  --subtext: 71 85 105;

  --primary: 79 70 229;
  --primary2: 67 56 202;

  --success: 22 163 74;
  --warning: 217 119 6;
  --danger: 220 38 38;
}

html,
body {
  height: 100%;
}

body {
  background: rgb(var(--bg));
  color: rgb(var(--text));
}

::selection {
  background: color-mix(in oklab, rgb(var(--primary)) 25%, transparent);
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgb(var(--border)) transparent;
}
